
html {
  font-size: 24px;
  font-family: 'Fira Sans', arial, sans-serif;
}

body {
	margin: 0;
  padding: 0;
}

div > section > header > menu {
  display: none;
}

div > section > main {
  margin: 0 2em;
}

div > section > footer {
  min-height: 2em;
}

#query-ids {
  position: relative;
  padding: 1em 2em;
}
#query-ids input{
  font: inherit;
  display: block;
}
#query-ids input[type="text"] {
	box-sizing: border-box;
  width: 100%;
  padding-right: 1.5em;
}
#query-ids input[type="reset"] {
	display: none;
  cursor: pointer;
}
#query-ids input[type="text"]:valid + input[type="reset"]{
  display: block;
  position: absolute;
  top: 1.25rem;
  right: 2.25rem;
  width: 1rem;
  height: 1rem;
  border: 0;
  background-color: rgba(255,0,0,0.5);
  border-radius: 1rem;
  color: white;
  font-size: 0;
}

#query-ids input[type="submit"] {
	width: 10em;
  margin: 1em auto;
  background-color: #0080ff;
  border: none;
  color: white;
  border-radius: 1em;
  cursor: pointer;
}

#result-table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}
#result-table th {
  color: #0040f0;
}

#result-table tbody td{
	border-top: 1px solid #0080ff;
  border-bottom: 1px solid #0080ff;
}

#result-table td {
  font-size: 75%;
  padding: 0.2em 0.5em
}

#result-table input.quantity {
  display: block;
  width: 4em;
}
