
html {
  font-family: "Fira Sans", arial, sans-serif;
  font-size: 24px;
  color: #333;
}

body {
	margin: 0 auto;
  height: 100%;
  /*max-width: 1200px;*/
  min-width: 300px;
  box-shadow: 0 0 1em;
}

@media (max-width: 400px) {
	html {
  	font-size: 16px;
	}
}




