
#social {
	font-size: 64px;
  margin-top: 0;
}

#social > a {
  display: inline-block;
  width: 1em;
  height: 1em;
	background: transparent no-repeat;
}

#social > a#social-facebook {
	background-image: url(social-icons/Flat_Social_Style_04/02_facebook.gif);
}
#social > a#social-facebook:hover {
	background-image: url(social-icons/Flat_Social_Style_01/02_facebook.gif);
}

#social > a#social-google {
	background-image: url(social-icons/Flat_Social_Style_04/14_google+.gif);
}
#social > a#social-google:hover {
	background-image: url(social-icons/Flat_Social_Style_01/14_google+.gif);
}

#social > a#social-twitter {
	background-image: url(social-icons/Flat_Social_Style_04/01_twitter.gif);
}
#social > a#social-twitter:hover {
	background-image: url(social-icons/Flat_Social_Style_01/01_twitter.gif);
}

#social > a#social-linkedin {
	background-image: url(social-icons/Flat_Social_Style_04/07_linkedin.gif);
}
#social > a#social-linkedin:hover {
	background-image: url(social-icons/Flat_Social_Style_01/07_linkedin.gif);
}

#social > a#social-email {
	background-image: url(social-icons/Flat_Social_Style_04/20_sparow.gif);
}
#social > a#social-email:hover {
	background-image: url(social-icons/Flat_Social_Style_01/20_sparow.gif);
}
